include ./header.pug
include ./servercard.pug

doctype html
html
  head
    link(rel='stylesheet', href='/css/style.css')
  body
    div#content
      div#manageServer
        div#summary
          img#server(src=server.icon)
          h2 #{server.name}
        span #{server.memberCount} members
        form(action='/manage/' + server.id, method='POST')
          p
            span Description:
            input(type='text', name='description', value=server.description)
            br
            span Categories:
            input(type='text', name='categories', value=server.categories.join(','))
            br
            span Primary Language:
            select(name='language')
              option(value='en-GB') English
              option(value='fr-FR') French
              option(value='de-DE') German
          input(value='Update', type='submit')
    +header(header) // Always display last